@media (min-width: 1200px) and (max-width: 1399.99px) {

    .wsus__single_speaker {
        height: 330px;
    }

    .wsus__schedule_item button .text {
        width: 79%;
    }

    .wsus__schedule_item button .text h5 {
        font-size: 16px;
    }

    .about_single_img .img_1 {
        width: 370px !important;
        height: 370px !important;
        left: 20px;
    }

    .about_single_img .img_2 {
        right: 0;
    }

    .wsus__about_text h2 {
        font-size: 26px;
    }

    .wsus__gallery .gallery_item {
        height: 220px;
    }
}


@media (min-width: 992px) and (max-width: 1199.99px) {

    .wsus__single_blog_text .title {
        font-size: 18px;
    }

    .wsus__single_testimonial {
        padding: 65px 20px 20px 20px;
    }

    .wsus__schedule_item button .text {
        width: 74%;
    }

    .wsus__schedule_item button .text h5 {
        font-size: 15px;
    }

    .wsus__blog_slide_item {
        height: 415px;
    }

    .wsus__categories li {
        width: 16.66%;
    }

    .wsus__subscribe_text h2 {
        font-size: 35px;
    }

    .wsus__subscribe::after {
        width: 65%;
    }

    .wsus__single_blog_img {
        height: 220px;
    }

    /* home page end */


    /* about page start */
    .about_single_img .img_1 {
        width: 90% !important;
        height: 350px !important;
        left: 0;
    }

    .about_single_img .img_2 {
        right: 0;
    }

    .wsus__single_counter span {
        font-size: 50px;
    }

    .wsus__single_counter span::after {
        font-size: 25px;
        top: 18px;
    }

    .wsus__single_counter P {
        font-size: 18px;
    }

    .wsus__about_text h2 {
        font-size: 22px;
    }

    /* about page end */

    /* cart view start */
    .wsus__cart_view_area table .images {
        width: 130px;
    }

    /* cart view end */

    .wsus__blog_details_content .details_title {
        font-size: 25px;
    }

    .wsus__speaker_details_text.lg_mt {
        margin-top: 25px;
    }

    .wsus__schedule_item .accordion .text .title {
        font-size: 15px;
    }
}


@media (min-width: 768px) and (max-width: 991.99px) {

    /* home page start */

    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 9px 0px;
    }

    .main_menu .navbar-brand {
        width: 100px;
        margin-left: 10px;
    }

    .navbar-toggler {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        margin-right: 10px;
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        margin-top: 8px;
        border-top: 1px solid var(--colorBlack);
    }

    .main_menu .nav-item {
        text-align: center;
    }

    .main_menu .nav-item .nav-link {
        color: var(--colorBlack) !important;
        display: inline-block;
    }

    .main_menu .navbar-nav {
        line-height: 55px;
    }

    .wsus__droap_menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .wsus__droap_menu {
        height: 250px;
        overflow-y: auto;
    }

    .Right_menu {
        justify-content: center;
        margin-bottom: 15px;
    }

    .Right_menu li a {
        color: var(--colorBlack);
    }

    .Right_menu li .event_btn {
        color: var(--colorWhite);
        border-color: var(--colorPrimary);
    }

    .Right_menu .wsus__menu_search {
        right: auto;
        left: -100px;
        width: 300px;
    }

    /* menu end */

    /* banner start */
    .wsus__banner_overlay {
        padding: 185px 0px 135px 0px;
        min-height: 550px;
    }

    /* banner end */

    .wsus__single_event_img {
        height: 450px;
    }

    .wsus__monetize_text h2 {
        font-size: 23px;
    }

    .wsus__monetize_text h4 {
        font-size: 16px;
    }

    .wsus__categories li {
        width: 25%;
    }

    .wsus__categories li a {
        font-size: 25px;
    }

    .wsus__achedule_date .nav-pills button h4,
    .wsus__achedule_date .nav-pills button p {
        font-size: 13px;
    }

    .accordion-button .text {
        width: 83%;
    }

    .wsus__schedule_item button .text h5,
    .wsus__schedule_item button .text p {
        font-size: 14px;
    }

    .wsus__blog_slide_item {
        height: 400px;
    }

    .wsus__blog .nextArrow,
    .wsus__blog .prevArrow {
        bottom: 10px;
        right: 15px;
        font-size: 16px;
    }

    .wsus__blog .prevArrow {
        right: 40px;
    }

    .wsus__single_blog_img {
        height: 250px;
    }

    .wsus__single_blog_text ul li i {
        margin-right: 5px;
    }

    .wsus__single_blog_text {
        padding: 20px;
    }

    .wsus__single_blog_text .title {
        font-size: 16px;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text h4 {
        font-size: 14px;
    }

    .wsus__footer_content h6 {
        font-size: 13px;
    }

    .wsus__footer_content h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .wsus__footer_content {
        margin-bottom: 50px;
    }

    .wsus__footer_content .social_link li a {
        font-size: 16px;
    }

    .wsus__single_sponsors {
        height: 120px;
    }

    .wsus__subscribe::after {
        width: 63%;
    }

    .wsus__footer {
        padding-bottom: 45px !important;
    }

    /* home page end */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 175px 0px 100px 0px;
    }

    .wsus__single_counter span {
        font-size: 40px;
    }

    .wsus__single_counter span::after {
        font-size: 25px;
        top: 12px;
    }

    .wsus__single_counter P {
        font-size: 16px;
    }

    .wsus__about_text {
        margin-top: 25px;
    }

    /* about page end */

    .wsus__blog_details_content {
        margin-bottom: 25px;
    }

    /* cart view start */
    .wsus__cart_view_area table .images {
        width: 130px;
    }

    .wsus__cart_view_area table .title {
        width: 300px;
    }

    .wsus__cart_view_area table .qty {
        width: 210px;
    }

    .wsus__cart_view_area table .price {
        width: 110px;
    }

    .wsus__cart_view_area table .del {
        width: 110px;
    }

    /* cart view end */


    .wsus__checkout_form {
        margin-bottom: 25px;
    }

    .sidebar_info {
        margin-top: 25px;
    }

    .wsus__event_page .event_search .search_list li {
        width: 49%;
        margin: 2px 0px;
    }

    .wsus__gallery .gallery_item {
        height: 220px;
    }

    .wsus__payment_menu,
    .wsus__pay_info_area .tab-pane {
        margin-bottom: 25px;
    }

    .wsus__pay_info_area #v-pills-tab {
        flex-direction: unset !important;
        justify-content: space-between;
    }

    .wsus__pay_info_area .nav-pills .nav-link {
        width: 49%;
    }

    .wsus__payment_menu .nav-pills button:last-child {
        margin-bottom: 10px;
    }

    .login_form .or::after {
        width: 75%;
    }

    .wsus__breadcrumb h1 {
        font-size: 35px;
    }

    .wsus__speaker_details_text h4,
    .wsus__speaker_details h5 {
        font-size: 20px;
    }

    .wsus__speaker_details_text {
        margin-top: 25px;
    }

    .wsus__schedule_item .accordion .text .title {
        font-size: 16px;
    }
}


@media (min-width: 576px) and (max-width: 767.99px) {

    /* home page start */

    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 9px 0px;
    }

    .main_menu .navbar-brand {
        width: 100px;
        margin-left: 10px;
    }

    .navbar-toggler {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        margin-right: 10px;
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        margin-top: 8px;
        border-top: 1px solid var(--colorBlack);
    }

    .main_menu .nav-item {
        text-align: center;
    }

    .main_menu .nav-item .nav-link {
        color: var(--colorBlack) !important;
        display: inline-block;
    }

    .main_menu .navbar-nav {
        line-height: 55px;
    }

    .wsus__droap_menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .wsus__droap_menu {
        height: 250px;
        overflow-y: auto;
    }

    .Right_menu {
        justify-content: center;
        margin-bottom: 15px;
    }

    .Right_menu li a {
        color: var(--colorBlack);
    }

    .Right_menu li .event_btn {
        color: var(--colorWhite);
        border-color: var(--colorPrimary);
    }

    .Right_menu .wsus__menu_search {
        right: auto;
        left: -100px;
        width: 300px;
    }

    /* menu end */

    /* banner start */
    .wsus__slider_text h1 {
        font-size: 40px;
    }

    .wsus__banner_overlay {
        padding: 185px 0px 135px 0px;
        min-height: 550px;
    }

    /* banner end */

    .wsus__section_heading h2 {
        font-size: 23px;
    }

    .wsus__single_event_img {
        height: 450px;
    }

    .wsus__monetize_text h2 {
        font-size: 23px;
    }

    .wsus__monetize_text h4 {
        font-size: 16px;
    }

    .wsus__categories li {
        width: 33.33%;
        height: 125px;
    }

    .wsus__single_speaker {
        height: 330px;
    }

    .wsus__categories li a {
        font-size: 25px;
    }

    .wsus__single_event_text a {
        font-size: 22px;
    }

    .wsus__single_event_2_img {
        height: 300px;
    }

    .wsus__single_speaker_text h3 {
        font-size: 16px;
    }

    .wsus__single_speaker_text p {
        font-size: 14px;
    }

    .wsus__achedule_date .nav-pills button {
        width: 50%;
    }

    .wsus__achedule_date .nav-pills button h4,
    .wsus__achedule_date .nav-pills button p {
        font-size: 13px;
    }

    .accordion-button .text {
        width: 77%;
    }

    .wsus__schedule_item button .text h5,
    .wsus__schedule_item button .text p {
        font-size: 14px;
    }

    .wsus__blog_slide_item {
        height: 300px;
    }

    .wsus__blog_slide_text a {
        font-size: 18px;
    }

    .wsus__blog .nextArrow,
    .wsus__blog .prevArrow {
        bottom: 10px;
        right: 15px;
        font-size: 16px;
    }

    .wsus__blog .prevArrow {
        right: 40px;
    }

    .wsus__single_blog_img {
        height: 250px;
    }

    .wsus__single_blog_text ul li {
        margin-right: 10px;
        font-size: 13px;
    }

    .wsus__single_blog_text ul li i {
        margin-right: 5px;
    }

    .wsus__single_blog_text {
        padding: 20px;
    }

    .wsus__single_blog_text .title {
        font-size: 16px;
    }

    .wsus__subscribe {
        background: #5e567e;
        padding-bottom: 35px;
    }

    .wsus__subscribe::after {
        display: none;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text h4 {
        font-size: 14px;
    }

    .wsus__footer_content h6 {
        font-size: 13px;
    }

    .wsus__footer_content h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .wsus__footer_content {
        margin-bottom: 50px;
    }

    .wsus__footer_content .social_link li a {
        font-size: 16px;
    }

    /* home page end */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 175px 0px 100px 0px;
    }

    .wsus__breadcrumb h1 {
        margin-bottom: 5px;
        font-size: 30px;
    }

    .about_single_img {
        height: 400px;
    }

    .about_single_img .img_2 {
        right: 0;
    }

    .wsus__about_text {
        margin-top: 25px;
    }

    .wsus__about_text h2 {
        font-size: 20px;
    }

    .wsus__single_counter {
        border: 0;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .wsus__single_counter span {
        font-size: 45px;
    }

    .wsus__single_counter span::after {
        font-size: 25px;
        top: 15px;
    }

    /* about page end */

    /* blog details start */
    .wsus__blog_details_content .details_title {
        font-size: 25px;
    }

    .wsus__blog_details_content {
        padding: 15px;
        margin-bottom: 25px;
    }

    .blog_details_share ul li a {
        margin-top: 5px;
    }

    .wsus__comment_text h6 span {
        width: 100%;
        margin: 8px 0px 15px 0px;
    }

    .wsus__comment_img {
        width: 50px;
    }

    .wsus__comment_text {
        width: 89%;
    }

    .wsus__blog_details_img {
        height: 300px;
    }

    /* blog details end */

    /* cart view start */
    .wsus__cart_view_area table .images {
        width: 130px;
    }

    .wsus__cart_view_area table .title {
        width: 300px;
    }

    .wsus__cart_view_area table .qty {
        width: 210px;
    }

    .wsus__cart_view_area table .price {
        width: 110px;
    }

    .wsus__cart_view_area table .del {
        width: 110px;
    }

    /* cart view end */

    /* checkout start */
    .wsus__checkout_form {
        margin-bottom: 25px;
    }

    /* checkout end */

    /* event details start */
    .wsus__event_details_img {
        height: 300px;
    }

    .sidebar_info {
        margin-top: 25px;
    }

    /* event details end */

    .wsus__event_page .event_search .search_list li {
        width: 100%;
        margin: 2px 0px;
    }

    .wsus__gallery .gallery_item {
        height: 200px;
    }

    .wsus__event_page .event_search .search_list li {
        width: 100%;
        margin: 2px 0px;
    }

    .wsus__payment_menu,
    .wsus__pay_info_area .tab-pane {
        margin-bottom: 25px;
    }

    .wsus__pay_info_area #v-pills-tab {
        flex-direction: unset !important;
        justify-content: space-between;
    }

    .wsus__pay_info_area .nav-pills .nav-link {
        width: 49%;
    }

    .wsus__payment_menu .nav-pills button:last-child {
        margin-bottom: 10px;
    }

    .wsus__pricing_header {
        padding: 35px 0px 95px 0px;
    }

    .login_form {
        padding: 30px;
    }

    .login_form .or::after {
        width: 75%;
    }

    .wsus__speaker_details_text h4,
    .wsus__speaker_details h5 {
        font-size: 20px;
    }

    .wsus__speaker_details_text {
        margin-top: 25px;
    }

    .wsus__achedule_date .nav-tabs .nav-link {
        width: 50%;
    }

    .wsus__schedule_item .accordion .text .title {
        font-size: 14px;
    }
}


@media (max-width: 575.99px) {

    /* home page start */

    /* menu start */
    .main_menu {
        height: 60px;
    }

    .main_menu .container {
        padding: 9px 0px;
    }

    .main_menu .navbar-brand {
        width: 100px;
        margin-left: 10px;
    }

    .navbar-toggler {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        margin-right: 10px;
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        margin-top: 8px;
        border-top: 1px solid var(--colorBlack);
    }

    .main_menu .nav-item {
        text-align: center;
    }

    .main_menu .nav-item .nav-link {
        color: var(--colorBlack) !important;
        display: inline-block;
    }

    .main_menu .navbar-nav {
        line-height: 55px;
    }

    .wsus__droap_menu {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .wsus__droap_menu {
        height: 250px;
        overflow-y: auto;
    }

    .Right_menu {
        justify-content: center;
        margin-bottom: 15px;
    }

    .Right_menu li a {
        color: var(--colorBlack);
    }

    .Right_menu li .event_btn {
        color: var(--colorWhite);
        border-color: var(--colorPrimary);
    }

    .Right_menu .wsus__menu_search {
        right: auto;
        left: -70px;
        width: 250px;
    }

    /* menu end */

    /* banner start */
    .wsus__slider_text h4 {
        font-size: 16px;
    }

    .wsus__slider_text h1 {
        font-size: 33px;
    }

    .wsus__banner_overlay {
        padding: 195px 0px 135px 0px;
        min-height: 550px;
    }

    /* banner end */

    .wsus__section_heading h2 {
        font-size: 23px;
    }

    .wsus__single_event_img {
        height: 350px;
    }

    .wsus__single_event_2_text .title {
        font-size: 16px;
    }

    .wsus__single_event_2_text .category {
        font-size: 13px;
    }

    .wsus__single_event_2_img .date {
        font-size: 13px;
    }

    .wsus__monetize_text h2 {
        font-size: 23px;
    }

    .wsus__monetize_text h4 {
        font-size: 16px;
    }

    .wsus__categories li {
        width: 50%;
        height: 100px;
    }

    .wsus__categories li a h5 {
        font-size: 12px;
    }

    .wsus__categories li a {
        font-size: 25px;
    }

    .wsus__single_event_text a {
        font-size: 18px;
    }

    .wsus__single_speaker_text h3 {
        font-size: 16px;
    }

    .wsus__single_speaker_text p {
        font-size: 14px;
    }

    .wsus__achedule_date .nav-tabs .nav-link {
        width: 50%;
    }

    .wsus__achedule_date .nav-tabs .nav-link h4,
    .wsus__achedule_date .nav-tabs .nav-link p {
        font-size: 13px;
    }

    .wsus__schedule_item button img {
        margin-bottom: 15px;
    }

    .wsus__schedule_item button .text .time,
    .wsus__schedule_item button .text .name {
        font-size: 14px;
    }

    .wsus__single_testimonial {
        padding: 65px 20px 20px 20px;
    }

    .wsus__blog_slide_item {
        height: 200px;
    }

    .wsus__blog_slide_text a {
        font-size: 18px;
    }

    .wsus__blog .nextArrow,
    .wsus__blog .prevArrow {
        bottom: 10px;
        right: 15px;
        font-size: 16px;
    }

    .wsus__blog .prevArrow {
        right: 40px;
    }

    .wsus__single_blog_img {
        height: 170px;
    }

    .wsus__single_blog_text ul li {
        margin-right: 10px;
        font-size: 13px;
    }

    .wsus__single_blog_text ul li i {
        margin-right: 5px;
    }

    .wsus__single_blog_text {
        padding: 20px;
    }

    .wsus__single_blog_text .title {
        font-size: 16px;
    }

    .wsus__subscribe {
        background: #5e567e;
        padding-bottom: 35px;
    }

    .wsus__subscribe::after {
        display: none;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text h4 {
        font-size: 14px;
    }

    .wsus__footer_content h6 {
        font-size: 13px;
    }

    .wsus__footer_content h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .wsus__footer_content {
        margin-bottom: 50px;
    }

    .wsus__footer_content .social_link li a {
        font-size: 16px;
    }

    .wsus__single_speaker {
        height: 350px;
    }

    /* home page emd */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 125px 0px 50px 0px;
    }

    .wsus__breadcrumb h1 {
        margin-bottom: 5px;
        font-size: 25px;
    }

    .about_single_img .img_1 {
        width: 100% !important;
        height: 320px !important;
        left: 0;
    }

    .about_single_img {
        height: 400px;
    }

    .about_single_img .img_2 {
        right: 0;
    }

    .wsus__about_text {
        padding: 15px;
        margin-top: 25px;
    }

    .wsus__about_text h2 {
        font-size: 18px;
    }

    .wsus__single_counter {
        border-right: 0;
        border-bottom: 3px solid #E5E5E5;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    /* about page end */

    /* add event page start */
    .wsus__add_event_area h4 {
        font-size: 18px;
    }

    .wsus__add_event_area {
        padding: 15px;
    }

    /* add event page end */

    /* blog details start */
    .wsus__blog_details_content .details_title {
        font-size: 20px;
    }

    .wsus__blog_details_content {
        padding: 15px;
        margin-bottom: 25px;
    }

    .blog_details_share ul li a {
        margin-top: 5px;
    }

    .wsus__comment_text h6 span {
        width: 100%;
        margin: 8px 0px 15px 0px;
    }

    .wsus__comment_img {
        width: 50px;
    }

    .wsus__comment_text {
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }

    .wsus__sidebar_blog img {
        width: 80px !important;
        height: 74px !important;
    }

    .wsus__sidebar_item {
        padding: 15px;
    }

    .wsus__sidebar_item h4 {
        font-size: 18px;
    }

    .wsus__blog_details_img {
        height: 200px;
    }

    /* blog details end */

    /* cart view start */
    .wsus__cart_view_area table .images {
        width: 130px;
    }

    .wsus__cart_view_area table .title {
        width: 300px;
    }

    .wsus__cart_view_area table .qty {
        width: 210px;
    }

    .wsus__cart_view_area table .price {
        width: 110px;
    }

    .wsus__cart_view_area table .del {
        width: 110px;
    }

    /* cart view end */

    /* checkout start */
    .wsus__checkout_form a {
        margin-top: 5px;
    }

    .wsus__checkout_form {
        margin-bottom: 25px;
    }

    .wsus__chechout_item ul li .wsus__chechout_item_text {
        padding-left: 10px;
    }

    /* checkout end */

    /* contact us start */
    .wsus__contact_area h2 {
        font-size: 23px;
    }

    /* contact us end */

    /* event details start */
    .wsus__event_details_img {
        height: 250px;
    }

    .wsus__event_details_img .simply-section.simply-days-section,
    .wsus__event_details_img .simply-section.simply-hours-section,
    .wsus__event_details_img .simply-section.simply-minutes-section,
    .wsus__event_details_img .simply-section.simply-seconds-section {
        width: 70px;
    }

    .sidebar_info {
        margin-top: 25px;
    }

    /* event details end */

    .wsus__event_page .event_search .search_list li {
        width: 100%;
        margin: 2px 0px;
    }

    .wsus__payment_menu,
    .wsus__pay_info_area .tab-pane {
        margin-bottom: 25px;
    }

    .wsus__privacy_policy_text {
        padding: 15px;
    }

    .login_form {
        padding: 15px;
    }

    .login_form .or::after {
        width: 65%;
    }

    .wsus__blog_slide_text {
        padding: 15px;
    }

    .wsus__speaker_details_text h4,
    .wsus__speaker_details h5 {
        font-size: 20px;
    }

    .wsus__speaker_details_text {
        margin-top: 25px;
    }

    .wsus__schedule_item .accordion .text .title {
        font-size: 14px;
    }

}